.DS_Store
*.o
*.a
*.exe
.vscode/
__pycache__/
*.pyc
build/
dist/
*.egg-info/
.pytest_cache/
server/data/
server/data/processed_weather.duckdb
server/data/raw_weather.duckdb
server/.venv/
server/passwords.py
server/database/__pycache__/
src/Secrets.h
